<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>管理员页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <style type="text/css">
        .sidebar {
            position: fixed;
            top: 51px;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            height:100%;
        }
        .main {
          padding:20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">管理员页面</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
				    <li><a href="/manager">首页</a></li>
                    <li><a href="#">成员管理</a></li>
                    <li><a href="#">项目管理</a></li>
                    <li><a href="#">财务管理</a></li>
                    <li><a href="#">网站设置</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/manager/user">用户管理<span class="sr-only">(current)</span></a></li>
                    <li><a href="/manager/role">角色管理</a></li>
                    <li><a href="/manager/project">账户管理</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">当前状态</h1>
            
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>