<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>叮当快建二维码</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#E4E4E4;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=no, width=320" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat&subset=latin' rel='stylesheet' type='text/css'>
	<script type="text/javascript" charset="utf-8" >
		function set2cimg()
		{
			document.getElementById('img2d').style.backgroundImage ='url(<%=res%>)'
		}
	</script>
  </head>
  <body onload="set2cimg()" >

	<div id="qrcode_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="../Hyperesources/qrcode_hype_generated_script.js?80632"></script>
	</div>




  </body>
</html>
